body {
    background-color: #f5f5dd;
}

div {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 1);
    margin: 10px;
}

#s1 { 
    background-color: rgba(0, 0, 0, 1);
}

#s2 {
    background-color: rgba(0, 0, 0, 0.8);
}

#s3 {
    background-color: rgba(0, 0, 0, 0.6);
}

#s4 {
    background-color: rgba(0, 0, 0, 0.4);
}
